
<div class="inline-block float-left w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 aspect-square rounded-3xl shadow-lg border-2 border-gray-300 border-opacity-75">
    <div class="px-4 py-4 m-1.5 bg-white {{cColour}} rounded-2xl">
        <!-- date -->
        <p class="inline-block bg-white rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2 mb-2">{{cDate}}</p>
        <!-- company -->
        <p class="text-gray-700 text-sm font-bold ">{{cCompany}}</p>
        <!-- job position -->
        <div class="font-bold text-xl mb-6 -mt-2">{{cJob}}</div>
        <!-- tags -->
        <span class="inline-block rounded-full border border-gray-400 px-3 py-2 text-xs font-semibold text-gray-600 mr-2 mb-2">Full time</span>
        <span class="inline-block rounded-full border border-gray-400 px-3 py-2 text-xs font-semibold text-gray-600 mr-2 mb-2">Part time</span>
        <span class="inline-block rounded-full border border-gray-400 px-3 py-2 text-xs font-semibold text-gray-600 mr-2 mb-2">Distant</span>
        <span class="inline-block rounded-full border border-gray-400 px-3 py-2 text-xs font-semibold text-gray-600 mr-2 mb-2">Project work</span>
    </div>
    <div class="pl-6 pr-4 pt-2">
        <!-- salary -->
        <div class="inline float-left">
            <div class="font-extrabold text-lg">{{cPay}}</div>
            <p class="text-gray-600 text-sm font-normal pb-2">{{cLocation}}</p>
        </div>
        <div class="inline float-right pt-1">
            <button type="button" class="inline-block bg-custom-black rounded-full px-4 py-3 text-sm font-normal text-gray-100">Details</button>
        </div>
    </div>
</div>


