<div class="p-2 sm:p-6 mt-4">
    <!-- Ad card -->
    <div class="w-full pt-16 pb-6 rounded-3xl shadow bg-custom-black bg-opacity-98 border-gray-700 text-center">
        <a href="#">
            <p class="pr-4 mt-2 text-lg sm:text-xl lg:text-2xl font-bold text-white">Get Your best<br>profession&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>with LuckyJob</p>
        </a>
        <a href="#" class="inline-flex items-center px-8 sm:px-12 py-2 mt-4 text-xs lg:text-sm font-bold text-center text-gray-900 bg-custom-blue rounded-full hover:bg-blue-400">
            Learn more
        </a>
    </div>
</div>
<div class="p-6 sm:p-12 border-r border-gray-300">
    <!-- Filters -->
    <p class="text-custom-black text-lg font-bold pb-4">Filters</p>
    <p class="text-gray-400 text-xs font-bold pb-2">Working schedule</p>
    <div class="flex items-center mb-4">
        <input checked id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-custom-black bg-gray-100 border-gray-300 rounded focus:ring-custom-black focus:ring-custom-black ring-offset-gray-800 focus:ring-2">
        <label for="default-checkbox" class="ms-2 text-xs font-medium text-gray-900">Full time</label>
    </div>
    <div class="flex items-center mb-4">
        <input checked id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-custom-black bg-gray-100 border-gray-300 rounded focus:ring-custom-black focus:ring-custom-black ring-offset-gray-800 focus:ring-2">
        <label for="default-checkbox" class="ms-2 text-xs font-medium text-gray-900">Part time</label>
    </div>
    <div class="flex items-center mb-4">
        <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-custom-black bg-gray-100 border-gray-300 rounded focus:ring-custom-black focus:ring-custom-black ring-offset-gray-800 focus:ring-2">
        <label for="default-checkbox" class="ms-2 text-xs font-medium text-gray-900">Internship</label>
    </div>
    <div class="flex items-center mb-4">
        <input checked id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-custom-black bg-gray-100 border-gray-300 rounded focus:ring-custom-black focus:ring-custom-black ring-offset-gray-800 focus:ring-2">
        <label for="default-checkbox" class="ms-2 text-xs font-medium text-gray-900">Project work</label>
    </div>
    <div class="flex items-center mb-4">
        <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-custom-black bg-gray-100 border-gray-300 rounded focus:ring-custom-black focus:ring-custom-black ring-offset-gray-800 focus:ring-2">
        <label for="default-checkbox" class="ms-2 text-xs font-medium text-gray-900">Volunteering</label>
    </div>
    <p class="text-gray-400 text-xs font-bold pt-4 pb-2">Employment type</p>
    <div class="flex items-center mb-4">
        <input checked id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-custom-black bg-gray-100 border-gray-300 rounded focus:ring-custom-black focus:ring-custom-black ring-offset-gray-800 focus:ring-2">
        <label for="default-checkbox" class="ms-2 text-xs font-medium text-gray-900">Full day</label>
    </div>
    <div class="flex items-center mb-4">
        <input checked id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-custom-black bg-gray-100 border-gray-300 rounded focus:ring-custom-black focus:ring-custom-black ring-offset-gray-800 focus:ring-2">
        <label for="default-checkbox" class="ms-2 text-xs font-medium text-gray-900">Flexible schedule</label>
    </div>
    <div class="flex items-center mb-4">
        <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-custom-black bg-gray-100 border-gray-300 rounded focus:ring-custom-black focus:ring-custom-black ring-offset-gray-800 focus:ring-2">
        <label for="default-checkbox" class="ms-2 text-xs font-medium text-gray-900">Shift work</label>
    </div>
    <div class="flex items-center mb-4">
        <input checked id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-custom-black bg-gray-100 border-gray-300 rounded focus:ring-custom-black focus:ring-custom-black ring-offset-gray-800 focus:ring-2">
        <label for="default-checkbox" class="ms-2 text-xs font-medium text-gray-900">Distant work</label>
    </div>
    <div class="flex items-center mb-4">
        <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-custom-black bg-gray-100 border-gray-300 rounded focus:ring-custom-black focus:ring-custom-black ring-offset-gray-800 focus:ring-2">
        <label for="default-checkbox" class="ms-2 text-xs font-medium text-gray-900">Shift method</label>
    </div>
</div>

